.blogitem-wrap{
    display: flex;
    flex-direction: column;
}
.blogitem-cover{
    width: 100%;
    height:250px;
    object-fit: cover;
    border-radius: 20px ;
    margin-bottom: 0.5rem;
}
.blogitem-wrap h3{
    margin: 0.5rem 1rem 0;
    flex: 1;
}
.blogitem-desc{
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: 0.8rem;
    padding-right: 0.6rem;
    color: rgb(27, 27, 13);

}
.blogitem-desc::before{
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
    
}
.blogitem-wrap footer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}
.blogitem-link{
    text-decoration: none;
    color: inherit;
}
.blogitem-author{
    display: flex;
    align-items: center;
}
.blogitem-author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}
.blogitem-author p{
    font-size: 0.6rem;
    color: dimgray;
    font-weight: 600;
}